<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa a tu cuenta</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    </head>
    <body>
        <p>
            <label for="nombre-usuario">Ingresa tu nombre de usuario:</label>
              <input type="text" id="nombre_usuario" name="nombre-usuario">
             </p>
        <p>
            <label for="contraseña">Ingresa tu contraseña:</label>
              <input type="text" name="contraseña" id="contraseña">
            </p>
        <button><a href="home">Ingresar</a></button>
    </body>